# Data — archivos grandes, no versionar
data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Entornos virtuales
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/

# Configuración local
*.local

# Presentación
presentation
